.disp-note{
        
    display: flex;
    padding: 36px 8px 18px 15px;
    flex-direction: column;
}
.note{
    height: 120px;
    border: 1.5px solid #b7b8c0;
    width: 240px;
    border-radius: 5px;
    padding: 5px;
}
.title-pin
{
    display: flex;
}
.pin-inp{
    display:none;
    height: 20px;
    margin-left: 160px;
}

.disp-icn{
    display: none;
    margin-top: 40px;
}

.disp-note :hover .disp-icn 
{
   display: block; 
   color:#292a2b;
}

.disp-note :hover .pin-inp
{
   display: block; 
   color:#292a2b;
}
