.text{
    width: 10%;
    color:black;
}
.tool{
    background-color: white;
    height:75px;
    box-shadow: 0px !important;
}
.imgKeep{
    margin-right: 12px;
}
.search-header{
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
}
.profilepic{
    
    margin-left: 84px;
}
.create{
    margin-top: 100px;
    width: 100%;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;

}