@mixin  input($size) {
    font-size: $size;
    margin-left: 20px;
}
@mixin  align($width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $width;
}


.collab-btn{
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    .collab-btn-cnt{
        display: flex;
        justify-content: space-around;
        width: 220px;
    }
}
.collab-data{
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.name-txt{
    @include input(larger);
}

.email-txt{
    @include input(medium);
}

.collab-txt{
    @include input(medium);
    margin-top: 20px;
}

.collab-dtl{
    @include align(350px);
}

.search-cnt{
    @include align(300px);
}

.on-close{
    cursor: pointer;
    color: rgb(199, 175, 175);
}